.background {
	background-size: cover;
	width: 10px;
}
.logo {
				position: relative;
						top: 10px;
						left: 100px;
}

.home {
		position: absolute;
		top: 35px;
		left: 1000px;
		font-family: Arial, Helvetica, sans-serif;
		color: #fdfdfd;

}

.about {
	position: absolute;
	top: 35px;
	left: 1150px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fdfdfd;
}

.travel {
	position: absolute;
	top: 35px;
	left: 1300px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fdfdfd;
}

.contact {
	position: absolute;
	top: 35px;
	left: 1450px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fdfdfd;
}

.signup-box {
	position: relative;
	top: 50px;
	left: 117px;
	width: 360px;
	height: 580px;
	background-color: #fefcf8;
	border-radius: 3px;
}

.login-box {
	position: relative;
				top: 50px;
	left: 117px;
	width: 360px;
	height: 350px;
	border-radius: 3px;
	background-color: #fefcf8;
}

.sending {
	position: relative;
	top: 50px;
	left: 750px;
	width: 360px;
	height: 480px;
	border-radius: 3px;
	background-color: #fefcf8;
	
}

h1 {
	text-align: center;
	padding-top: 15px;
}
h4 {
	text-align: center;
}
form {
	width: 300px;
	margin-left: 20px;
}
form label {
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}
form input {
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
}
input[type="button"] {
	width: 320px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color: #49c1a2;
	color: white;
	font-size: 18px;
}
p {
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
}

.p2 {
	position: relative;
	
	left: 10px;
	color: #49c1a2;
}
.p1 {
	position: relative;
	left: 10px;
	color: #49c1a2;

}
